<html>

<head>
  <title>{{ title }} | Noah Tye</title>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Muli" rel="stylesheet" />
  <link href="/assets/page.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
</head>

<body>
  <div class="margins layout">
    <h1>{{ title }}</h1>
    <div class="blog-post-metadata">
      {{ nice_date }} ・ {{ loc }}
    </div>
    {{ body }}
  </div>
  <footer>
    <div class="margins">
      <p>Enjoy this? Check out <a href="/">the rest of my website</a>.</p>
      <p>See what I'm thinking about on Twitter: <a href="https://twitter.com/noahlt">@noahlt</a></p>
      <p>
        License: <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons
          Attribution-NonCommercial 4.0 International License</a>
      </p>
    </div>
  </footer>
</body>

</html>